:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  text-align: center;
  margin: 100px auto;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 48px;
  margin: 0;
  display: block;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
}

.button-position {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.button-position a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link:hover {
  color: #e7e6fc;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-paragraphs {
  display: flex;
  margin: 30px 20px;
  justify-content: space-between;
}

.aboutp {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
}

.email-address {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.container {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 544px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .email-address {
    font-size: 20px;
  }
}
